
<div>
    <label for=""><input type="text" ng-model="search"></label>
    <label for=""><input type="text" ng-model="search"></label>
    <label for=""><select name="" id="" ng-model="search">
        <option value="">全部</option>
        <option value="{{car.name}}" ng-repeat="car in cars">{{car.name}}</option>
    </select>筛选</label>
    <label for="">用来排序
        <select name=""  ng-model="order">
            <option value="name">name</option>
            <option value="snippet">snippet</option>
        </select>
    </label>
    <ul>
        <li ng-repeat="car in cars | filter:search | orderBy:order">

            <p>{{car.snippet}}</p>
            <a href="#/cars/{{car.id}}"><img ng-src="{{car.imgUrl}}" alt=""></a>
            <a href="#/cars/{{car.id}}">{{car.name}}</a>

        </li>
    </ul>
</div>
